.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: #fff;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;

    @media (max-width: 1200px) {
      font-size: 1.1rem;
      display: flex;
      flex-wrap: wrap;
    }

    @media (max-width: 950px) {
      display: flex;
      align-items: center;
    }

    i {
      font-size: 2rem;
    }

    &:hover {
      margin-top: 0.5rem;
      color: #ddd;
      cursor: pointer;
      transform: scale(1.1);

      @media screen and (max-width: 950px) {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  .nav.open {
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
}
