.date {
  display: flex;
  gap: 1rem;
}
.cal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  p {
    font-size: 1.2rem;
  }
}
.datepicker {
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  border: 0.5px solid #333;
  cursor: pointer;
  &:hover {
    border: 1.5px solid #2b2d42;
  }
  @media (max-width: 1200px) {
    padding: 0.6rem 0.6rem;
  }
}
.daterange {
  outline: none;
  padding: 0.6rem 1rem;
  width: 18rem;
  border-radius: 3px;
  border: 0.5px solid #333;
  cursor: pointer;
  font-size: 1.2rem;
  &:hover {
    border: 1.5px solid #2b2d42;
  }
}
