.hero {
    width: 100%;
    // background-color: rgba(255, 166, 0, 0.939);
    background-color: rgb(221, 137, 18);
    height: 15vh;
    padding: 1.8rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}